.home-footer {
    background-color: $color-black-dark;

    .home-footer-link {
        text-decoration: none;
        color: $color-black-0;
        display: block;

        &:hover {
            text-decoration: underline;
            color: $color-pink;
        }
    }
    .home-footer-social {
        text-decoration: none;
        color: $color-black-0;
        display: block;
        font-size: $fs-20;

        &:hover {
            text-decoration: underline;
            color: $color-pink;
        }
    }
}