.register-user {
    margin-top: 50px;

}

.btn-dang-nhap {
    background-color: $color-pink !important;
    color: $color-white-0 !important;
    border: none !important;
    width: 150px;
    @media (max-width: 576px) {
        width: 110px;
        span {
            font-size: $fs-15;
        }
        
    }
    &:hover {
        background-color: $color-pink-1 !important;
    }
}

.btn-dang-ki {
    background-color: $color-gray-4 !important;
    color: $color-white-0 !important;
    border: none !important;
    width: 150px;
    @media (max-width: 576px) {
        width: 110px;
        span {
            font-size: $fs-15;
        }
        i {
            font-size: $fs-8;
        }
        
        
    }
    &:hover {
        background-color: $color-black-light !important;
    }
}